/** 
    Learn to write code with modular approach 
    this is a mess right down here , If you are reading this 
    I don't think you should continue at all... 
*/
* {
  box-sizing: border-box;
  overflow-x: hidden;
}
* body {
  max-height: 100dvh;
  max-width: 100dvw;
}

* a {
  cursor: pointer;
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
}

/*------- index/form - Page ----------*/

.container form {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.container form .userInput {
  display: flex;
  flex-direction: column;
}

.container form .userInput #chooseOptions {
  width: 50%;
  padding: 0.7rem 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 2rem;
}

.container form .userInput label {
  font-weight: bold;
}

.container form .userInput .inputBox {
  padding: 0.7rem;
  border: 2px solid black;
  outline: none;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}

.container form .addData {
  padding: 0.5rem;
  font-weight: bold;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.container .gotoBtn {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.container .gotoBtn input {
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  border: none;
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.container .gotoBtn input:nth-of-type(1) {
  background-color: royalblue;
}

.container .gotoBtn input:nth-of-type(2) {
  background-color: green;
}

/*------- Users-Data-Logs -------*/
.container .users-list {
  height: 35rem;
  width: 50rem;
  padding: 2rem 5rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.user-list-title {
  border: 1px solid royalblue;
  background-color: rgba(65, 105, 225, 0.17);
  border-radius: 1rem;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;
  font-weight: bold;
  color: royalblue;
  overflow: hidden;
}

.users-list .data-list {
  padding: 2rem;
}

.users-list .data-list .user {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  /* border: 2px solid ; */
}

.users-list .data-list .user a {
  font-weight: 900;
  border: 1px solid black;
  width: 80%;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
}

.user-data  button {
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 17%;

  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.100);
}

.delete-all {
  border: 2px solid red ;
  background-color: rgba(255, 0, 0, 0.089);
  border-radius: 1.2rem;
  font-weight: bold;
  font-size: medium;
  color: red;
  padding: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

/*------- Org-Data-Logs -------*/
.container .orgs-list {
  height: 35rem;
  width: 50rem;
  padding: 2rem 5rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.org-list-title {
  border: 1px solid green;
  background-color: rgba(44, 255, 7, 0.203);
  border-radius: 1rem;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 1rem;
  font-weight: bold;
  color: green;
  overflow: hidden;
}

.orgs-list .data-list {
  padding: 2rem
  /* background: #000; */
}

.orgs-list .data-list .org {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  /* border: 2px solid ; */
}

.orgs-list .data-list a {
  font-weight: 900;
  border: 1px solid black;
  width: 80%;
  border-radius: 1rem;
  padding: 0.5rem 2rem;
}

.org-data  button {
  border-radius: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  width: 17%;

  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.100);
}
